<%= form_with(model: maintenance_service, class: "contents") do |form| %>
  <% if maintenance_service.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(maintenance_service.errors.count, "error") %> prohibited this maintenance_service from being saved:</h2>

      <ul class="list-disc list-inside">
        <% maintenance_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :car_id, class: "block font-medium text-gray-700 mb-1" %>
    <%= form.collection_select :car_id, Car.all, :id, :plate_number, 
        { selected: params[:car_id] }, 
        class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "block font-medium text-gray-700 mb-1" %>
    <%= form.text_area :description, rows: 3, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :status, class: "block font-medium text-gray-700 mb-1" %>
    <%= form.select :status, MaintenanceService.statuses.keys.map { |status| [status.titleize, status] }, 
        { prompt: "Select status" }, 
        class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :date, class: "block font-medium text-gray-700 mb-1" %>
    <%= form.date_field :date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700" %>
  </div>
<% end %>
