<div id="<%= dom_id maintenance_service %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Car:</strong>
    <%= maintenance_service.car_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= maintenance_service.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= maintenance_service.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= maintenance_service.date %>
  </p>

</div>
